/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5; /* Improves readability */
    color: #333; /* Ensures good contrast */
    background-color: #f9f9f9; /* Light background for better contrast */
}

.qr-code{
    display: block; /* Centers the image horizontally if parent has text-align: center */
    margin: 20px auto; /* Adds space around the image and centers it */
    width: 200px; /* Adjust the size of the QR code */
    height: auto; 
}